/*---------category----------*/
/* .contentWidth {
  width: 77%;
} */

.headerSearch {
  position: relative;
}
.HeaderCategory {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  margin-top: 420px;
  right: -65px;
  position: absolute;
  z-index: 999;
}

.HeaderCategory .Ctgbox {
  transition: 0.5s;
  padding: 0 20px;
}
.HeaderCategory .Ctgbox:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
