.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.bg {
  background-color: red;
}

/*----- control btn -------*/
.homeSlide .control-btn .next,
.homeSlide .control-btn .prev {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20px;
  height: 20px;
  line-height: 60px;
  border-radius: 10px;
  transform: 0.5s;
  z-index: 5;
}
.homeSlide .control-btn .prev {
  left: 3px;
}
.homeSlide .control-btn .next {
  right: -20px;
}
.homeSlide .control-btn .prev i,
.homeSlide .control-btn .next i {
  font-size: 30px;
  transition: 0.5s;
  color: rgb(230, 15, 15);
}
