/* .Plus button {
  background: none;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.Plus button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
} */
